* {
    background-color: grey;
    color: white;
    text-align: center;
}

header {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}


.gameContainer {
    display: inline-flex;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    justify-content: space-around;
}


#game1 {
    background-color: brown;
}

#game2 {
    background-color: coral;
}

#game3 {
    background-color: darkorchid;
}

#game4 {
    background-color: darkviolet;
}



a {
    text-decoration: none;
}

.selectedGame {
    justify-content: center;
}

.box {
    margin: 0;
    padding: 0;
    width: 98px;
    height: 98px;
    display: inline-table;
    border: solid black 1px;
    text-align: center;
    font-size: 90px;

}