* {
    background-color: grey;
    color: white;
    text-align: center;
}

header {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}


.gameContainer {
    display: inline-flex;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    justify-content: space-around;
}


#game1 {
    background-color: brown;
}

#game2 {
    background-color: coral;
}

#game3 {
    background-color: darkorchid;
}

#game4 {
    background-color: darkviolet;
}



a {
    text-decoration: none;
}

.selectedGame {
    justify-content: center;

}

.box {
    box-shadow: 5px 10px #888888;
    margin: 1;
    padding: 2;
    width: 91px;
    height: 91px;
    background-color: whitesmoke;
    display: inline-flex;
    justify-content: center;
    border: solid black 2px;
    text-align: center;
    color: black;
    font-size: 20px;

}