*{
    background-color: #52ADF3;
}
.banner{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: #52ADF3 10%;
    text-align: center;
    font-size: 45px;
    margin: 15px;
}

.Tabs{
    display:flex;
    align-items: center;
}

.Tabs ul{
    display: inline-flex;
    list-style-type: none;
    font-size: 25px;
    align-items: center;
}

.Tabs button:hover{
    font-size: larger;
    background-color: aqua;
}

button{
    margin: 5px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px 5px;
    background-color: aliceblue; 
    font-size: 25px;

}

.Tabs button:focus{
    background-color: yellow;
}

.whacHS{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    border: 4px solid red;
    border-radius: 1px .5px;
    background-color: aliceblue; 
    font-size: 25px;
}
/* .rpsHS{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    border: 4px solid red;
    border-radius: 1px .5px;
    background-color: aliceblue; 
    font-size: 25px;
}
.mineHS{
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    border: 4px solid red;
    border-radius: 1px .5px;
    background-color: aliceblue; 
    font-size: 25px;
} */