*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        display: flex;
        justify-content: center;
        background-image: url(../Assets/images/close-up-rock-paper-scissors-hands-isolated-white-background-151750538.jpeg);
        opacity: 0.7;
      }

body{
    min-height: 1000vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9d8c1
}
h1{
    font-family: sans-serif;
    font-weight: 10000;
    margin: 15px 0;
}
.container{
    display: flex;
}
.container .segment{
    width: fit-content;
    height: fit-content;
    margin: 30px 100px;
}
.segment .data{
    background: rgb(18, 101, 136);
    border-radius: 20%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.data span , .data h3{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(41, 40, 40);
    height: 220px;
}
.show i{
    font-size: 100px;
    color: orange;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.segment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}
.segment button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background : green;
    font-size: 33px;
    color: yellow;
}
#timer {
    margin: 0 40px;
    padding: 30px;
    border-radius: 150%;
    border: none;
    outline: none;
    cursor: pointer;
    background : rgb(18, 101, 136);
    font-size: 20px;
    color: rgb(224, 222, 222);
}

.game:hover {
    background-color: green;
}
.game:active {
    background-color: red;
}

/* MEDIA QUERIES */
@media (min-width: 768px) and (max-width: 991px) {
    .bg-img-1 a div h2 {
      font-size: 19px !important;
    }
  }
  
