img {
  width: 200px;
  height: 200px;
}

input {
  margin-top: 7px;
  margin-bottom: 10px;
}

.search h2 {
  text-shadow: 1.5px 1.5px #000000;
  font-size: 36px;
}

.search p {
  font-size: 18px;
  letter-spacing: 1.5px;
}

p {
  text-shadow: 1.2px 1.2px #000000;
}

/* Spotify modal card */
.hidden {
  display: none;
}

.search {
  background-color: #1db954;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid black;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-card {
  background-color: #1db954;
  margin: 10% auto;
  padding: 21px;
  z-index: 1;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  overflow: auto;
}

.modal-close {
  color: black;
  float: right;
  font-size: xx-large;
}

.modal-close:hover {
  font-size: 45px;
  transition: 0.3s;
  color: red;
}

.track-card {
  background-color: black;
  color: white;
  width: 400px;
  height: fit-content;
  padding: 10px;
  margin-bottom: 10px;
}

/* music player */
.player {
  padding: 5px;
  background-color: #808080;
}

.player button {
  width: 34px;
  margin: 0 3px;
}
