* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #52adf3;
  color: white;
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  min-height: 130px;
}

/* ENDGAME Screen */
.endContainer{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}
input{
  padding: 15px;
  margin: 5px;
  transition: width 1s, height 1s;
  transition-timing-function: linear;
  border-radius: 10px;
  border: 2px solid black;
}
input::placeholder{
  font-size: 20px;
}
input:focus{
  padding: 20px;
  margin:8px
}
input:focus::placeholder{
  font-size: 25px;
}

.btn{
  background-color: white;
  color:#52adf3;
  font-size: 25px;
  border: 1px solid black;
  padding: 3px;
  margin: 2px;
  border-radius: 10px;
}
.scoreSubmission{
  padding-bottom: 15px;
}

/* #game1 {
  background-color: brown;
}

#game2 {
  background-color: coral;
}

#game3 {
  background-color: darkorchid;
}

#game4 {
  background-color: darkviolet;
}

#selectedGame {
  display: none;
  justify-content: center;
} */

a {
  text-decoration: none;
}

.leaderboard {
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.scoreTabs {
  display: block;
  background-color: bisque;
}
.scoreTabs ul {
  background-color: aqua;
  display: inline-flex;
  list-style: none;
  margin: 10px;
  padding: 10px;
}
/* Leaderboard button */
#leaderboards{
  font-size: 30px;
}
#leaderboards:hover{
  font-size: 45px; 
  background-color: yellowgreen;
}